

.container-upload-invoice {
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 2rem;
    width: 100%;
}

.container-upload-invoice .content-preview {
    width: 70%;
    height: 100%;
    margin: 20px auto 20px auto;
}

.container-upload-invoice  .content-upload-invoice {
    width: 70%;
    margin: 20px auto 20px auto;
    background-color: #C3FED7;
    padding: 20px 0px 20px 0px;
    text-align: center;
    justify-content: center;
}

.container-upload-invoice  .content-upload-invoice input {
    width: 50%;
    text-align: center;
    justify-content: center;
}

.container-upload-invoice .content-upload-invoice .footer-upload-invoice {
    margin: 10px;
}